<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerTests" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=SqlServerTests;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\SqlServerTests.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>