<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fixie" version="1.0.0.11" targetFramework="net45" />
  <package id="Npgsql" version="2.2.4.3" targetFramework="net45" />
  <package id="NPoco" version="2.6.88" targetFramework="net453" />
  <package id="Shouldly" version="2.4.0" targetFramework="net453" />
  <package id="System.Data.SqlLocalDb" version="1.13.0.0" targetFramework="net453" />
</packages>